<table id="DHCPLeases" class="table table-striped" style="width:90%">
  <thead>
    <tr>
      <th>IP</th>
      <th>Name</th>
      <th>MAC</th>
      <th>Remaing Time</th>
      <th>Expire</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
    <tr>
      <td>{{.IP}}</td>
      <td>{{.Name}}</td>
      <td data-toggle="tooltip" title="{{.Info.Company}}&#10;{{.Info.OUI}}">{{.MAC}}</td>
      <td>{{.Remain}}</td>
      <td>{{.Expire}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
